/* global set up */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-red: crimson;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  margin: 0;
  cursor: default; /* 커서를 없애준다. 텍스트에도 반응하기 때문에 없애준다 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography <- 텍스트와 관련된 것들 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px; /* 원래는 32px로 들어가져 있음 */
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--wieght-semi-bold);
  color: var(--color-black);
  margin: 12px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--wieght-regular);
  color: var(--color-black);
  margin: 8px 0;
}

h4 {
  font-size: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--wieght-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  all: unset;
}

figure {
  all: unset;
}

.section {
  text-align: center;
  padding: 80px 0;
  width: 100%;
}

.section__container {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}
/* header */
.header {
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.header__logo{
  padding: 0 5px;
}
.header__logo i {
  font-size: 30px;
  color: var(--color-white);
  transition: color var(--animation-duration) linear;
}

.header__menu {
  display: flex;
}
.header__item{
  padding: 0 5px;
}
.header__item span {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--color-white);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all var(--animation-duration) linear;
}

.header__item span:active,
.header__logo i:active {
  transform: scale(.9)
}

.header__item span:hover{
  border: 1px solid var(--color-white);
}

.header.header--dark {
  padding: 0 8px;
  background-color: #e899dc;
  width: 80%;
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header__item span.active{
  /* 우선순위 때문에 이렇게 설렉터 이름을 지정 */
  border: 1px solid var(--color-white);
}
/* home */

#home {
  background-color: #e899dc;
  background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
  padding-top: 100px;
}

.home__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  transition: all var(--animation-duration) cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.home__avatar:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.home__title {
  color: var(--color-white);
}

.home__description {
  color: var(--color-white);
  margin-bottom: 40px;
}

.home__contact {
  color: var(--color-white);
  border: 1.5px solid var(--color-white);
  cursor: pointer;
  padding: 5px;
  font-weight: var(--weight-bold);
  border-radius: 5px;
  transition: all var(--animation-duration) cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.home__contact:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* about */
.about__description {
  /* width: 80%; */
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.about__majors {
  display: flex;
  /* width: 80%; */

  margin: 0 auto;
  justify-content: center;
  margin-bottom: 60px;
}

.major {
  width: 33.3333%;
  padding: 30px;
}

.major__logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid crimson;
  border-radius: 50%;
  margin-bottom: 10px;
}

.major__logo i {
  font-size: var(--font-medium);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: crimson;
}

.major__description {
  /* ... 표시
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  width: 300px; */
}

.about__jobs {
  display: flex;
  /* width: 80%; */

  margin: 0 auto;
}

.job {
  display: flex;
  width: 100%;
}

.job__logo {
  background-image: url("https://lh3.googleusercontent.com/proxy/PoSMWUTDpYV0-7Xdw0oQljM2wYAsteo1gbRfdlvaniBixn8tJ3665aJpypQNkzYtwqn2JKHeeGMjzTXW6WMWXiQ9YaHO4eXajSWBLCVpKMu5ijY01tW16g");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20%;
  max-width: 100px;
}

.job__logo img {
  display: none;
}

.job__description {
  width: 80%;
  text-align: left;
}

/* skills */
#skills {
  background-color: var(--color-yellow);
}

.skills__description {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.skillset {
  /* width: 100%; */
  display: flex;
  justify-content: center;

  margin: 0 auto;
}

.skillset__left {
  width: 70%;
  /* padding: 10px 0px; */
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  border-radius: 10px;
  padding: 20px 0px;
}

.skillset__title {
  color: var(--color-white);
  margin: 0px;
  margin-bottom: 12px;
}

.skill {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.skill__bar-wrapper {
  height: 6px;
  width: 100%;
  background-color: crimson;
  border-radius: var(--size-border-radius);
}

.skillset__right {
  border-radius: 10px;
  width: 30%;
  /* background-color: var(--color-pink); */
  color: var(--color-white);
}

.tools {
  /* border-bottom: 1px dashed lightblue; */
  background-color: crimson;
  height: 60%;
}

.etc {
  background-color: var(--color-blue);
  height: 40%;
}
.tools,
.etc {
  /* padding: 10px 0px; */
  border-radius: 10px;
  padding: 20px 0px;
}

.tools__item {
  margin-bottom: 10px;
}

/* work */
.work__categories {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.work__category {
  width: 25%;
  border-radius: var(--size-border-radius);
  border: 1px solid var(--color-light-grey);
  padding: 5px 0px;
}

.work__projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-gap: 10px;
  width: 100%;

  margin: 0 auto;
}

.project {
  border: 1px dashed grey;
}

/* Testimonial */

#testimonials {
  background: linear-gradient(to left top, blue, red);
}

.testimonials__title {
  color: var(--color-white);
}

.testimonials__subtitle {
  margin-bottom: 30px;
  color: var(--color-white);
}

.testimonial {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.testimonial__avatar {
  width: 60px;
  height: 60px;
  background-color: crimson;
  display: block;
  border-radius: 50%;
}

.speech-bubble {
  padding: 10px;
  border: 3px dashed var(--color-dark-pink);
  width: calc(100% - 80px);
  animation: rotate 2s ease-in-out;
}

.speech-bubble__content {
  color: var(--color-white);
}

.speech-bubble__name {
  color: var(--color-white);
}

.speech-bubble__link {
  color: var(--color-blue);
}

/* contact */
#contact {
}

.contact__email {
  margin-bottom: 30px;
}
.contact__links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.contact__link a {
  color: crimson;
  margin-right: 10px;
}

/* media query */
@media screen and (max-width: 768px) {
  /* .header {
    display: block;
    padding: 0;
    height: initial;
  }
  .header__logo {
    padding: 0px 10px;
    height: 44px;
    line-height: 44px;
  }
  .header__menu {
    display: none;
    text-align: center;
  } */
  .about__majors {
    flex-direction: column;
    align-items: center;
  }
  .about__major {
    width: 100%;
  }
  .skillset {
    flex-direction: column;
  }
  .skillset__left,
  .skillset__right {
    width: 100%;
  }
  .work__categories {
    width: 100%;
  }
  .work__projects {
    display: block;
  }
  .work__project {
    margin-bottom: 10px;
  }
  .testimonial__avatar {
    width: 40px;
    height: 40px;
  }
  .contact__email {
    font-size: var(--font-regular);
  }
}

@media screen and (max-width: 425px) {
  .work__categories {
    display: block;
  }
  .work__category {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}
